<strong>Olá, {{ deliveryman }}</strong>
<p>Foi adicionado o Pedido {{ orders }} em sua lista, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Endereço: </strong> <br />
  {{ adress }} <br />
  {{ city }} <br />
  {{ cep }} <br />
  <br />
  <strong>Data/hora do Pedido: </strong> {{ date }} <br />
  <br />
  <small>
    Para iniciar a entrega acesse o app.
  </small>
</p>